[submodule "knowledge-vault"]
	path = knowledge-vault
	url = git@github.com:xxvx25/knowledge-vault.git
[submodule "research-vault"]
	path = research-vault
	url = git@github.com:xxvx25/research-vault.git
